.common{
    -fx-background-color: #ffffff;
}

.text-field{
    -fx-background-color: #e5e5e5;
}

.text-field:focused{
    -fx-background-color: #e5e5e5;
    -fx-border-width: 1;
    -fx-border-radius: 2%;
    -fx-border-color: #1d9bff;
}

.selectButton{
    -fx-background-color: #1d9bff;
    -fx-opacity: 1;
}

.selectButton:hover{
    -fx-background-color: #1a8eea;
}

.signUpButton{
    -fx-background-color: #ffffff;
}

.signUpButton:hover{
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
}

.highlightableText{
    -fx-text-fill: #000000;
}

.highlightableText:hover{
    -fx-font-weight: bold;
}

.passwordVisibleButton{
    -fx-opacity: 0.6;
    -fx-background-color: transparent;
}

.passwordVisibleButton:hover{
    -fx-opacity: 0.9;
    -fx-background-color: #e5e5e5;
}

.highlightableText:hover{
    -fx-text-fill: #216faf;
}

.languageSelectionPane{
    -fx-background-color: #ffffff;
    -fx-opacity: 0.6;
}

.languageSelectionPane:hover{
    -fx-opacity: 0.8;
}

.imageButton{
    -fx-opacity: 0.5;
    -fx-background-color: #ffffff;
}

.imageButton:hover{
    -fx-opacity: 0.7;
}